<% include header.ejs %>
</head>
<body>
<div class="container">
	<div class="sixteen columns">
		<h1>New Deal Successfully Created!</h1>
		<p class="lead"><a href="/">Back to Deals Home</a></p>
	</div>
</div>
<!-- End Document
================================================== -->
</body>
</html>